body{
	
	margin: 0;
	padding: 0;
	
}

.Header{

	width: 100%;
	background: navy;
	height:100px;

}

.Navigation{
	
	margin-top: 30px;
	
}

.Navigation li{

	display: inline;
	list-style-type: none;
	color: white;

}

.Navigation li a{

	color: white;

}